<% var pageTitle = "Marian Dudych"; pageId = "index"; pageUrl = "";
pageDescription = "Awesome site"; %> <% include _header %>

<div class="grid">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>

<div class="main-block">
  <div class="main-block__bg"></div>
  <div class="main-block__info">
    <div class="main-block__info-center">
      <h1>Marian Dudych</h1>
      <div>
        <p>Hello, World! I’m a frontend developer.</p>
        <p>I ❤️ <b>JavaScript</b>, <b>ReactJS</b> and <b>UI design</b>.</p>
        <p>
			<a href="https://github.com/DudychMarian">GitHub</a>,
			<a href="#">Blog</a>,
			<a href="https://www.linkedin.com/in/marian-dudych-960a69206/">LinkedIn</a>,
			<a href="mailto:dudychmarian@gmail.com">E-Mail</a>
        </p>
      </div>
    </div>
  </div>
</div>

<% include _footer %>
